.page-filter {
  display: flex;
}
.filter-header {
  margin-bottom: 30px;
  padding: 15px 0;
  border-bottom: 1px solid var(--gray-3);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.filter-button {
  text-decoration: underline;
  cursor: pointer;
  font-size: 18px;
}
.grid-type {
  display: flex;
  gap: 10px;
}
.model-filter {
  max-width: 450px;
  position: absolute;
  width: 100%;
  max-height: 70%;
  bottom: 0;
  background-color: #fff;
  z-index: 1000;
  left: 50%;
  transform: translateX(-50%);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}
.model-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--gray-3);
  font-size: 18px;
  font-weight: bold;
  flex: 1;
}
.model-header button {
  cursor: pointer;
}
.model-header button:hover {
  opacity: 0.7;
}
.model-content {
  flex: 2;
}
.model-submit {
  flex: 1;
}
.model-submit button {
  transition: var(--transition) !important;
}
.model-submit button:hover,
.model-submit button:active {
  background-color: var(--gray-5) !important;
}
.model-content-box {
  margin: 10px 0;
  border-bottom: 1px solid var(--gray-3);
}
.model-content-box h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}
.model-box-items {
  overflow-y: auto;
  max-height: 100%;
}
.sidebar {
  height: 100%;
  max-width: 400px;
  padding: 40px 20px;
  width: 23%;
  display: none;
}
@media (min-width: 1024px) {
  .sidebar {
    display: block;
  }
  .f-btn {
    display: none;
  }
  .filter-header {
    justify-content: flex-end;
  }
}
